<%- include('layouts/user-header.ejs'); %>

        <div id="up-coming-workout">
            <div class="next-workout-card <%= nextWorkoutType.toLowerCase() + '-background' %>">
                <div class="next-workout-day">
                    <p>Phase <%- userPhase -%></p>
                    <p><img src="/img/calendar-icon.svg" >Day <%- userCurrentDay -%></p>
                </div>
                <h2 class="dark-gray-font large-font"><%- userFirstName -%>, here's your <br />next workout:</h2>
                <div class="workout-square">
                    <div class="<%= nextWorkoutType.toLowerCase() + '-background' %> workout-icon-top">
                        <img src="<%= '/img/' + nextWorkoutType.toLowerCase() + '-icon.svg' %>" />
                    </div>
                    <a href="/<%= nextWorkout[0] %>">
                        <h3 class="<%= nextWorkoutType.toLowerCase() + '-font' %>"><%= nextWorkout[0] %></h3>
                        <p>Start Workout ></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="phase-workouts">
            <h3 class="phase-header">Phase <%- userPhase %> | Week <%- userCurrentWeek %> <img src="/img/filter-icon.svg" /></h3>
            <ul>
                <% for (let i = 0; i < schedule.length; i ++) { %>
                    <li data-workout="<%= schedule[i].workout[0] %>" data-username="<%= username %>">
                        <img class="<%- schedule[i].type.toLowerCase() + '-background' %>" src="<%= '/img/' + schedule[i].type.toLowerCase() + '-icon.svg' %>" />
                        <div>
                            <p><%= 'Day ' + (i + 1) %></p>
                            <h3><%= schedule[i].workout[0] %></h3>
                        </div>
                        <img class="exercise-incomplete" src="/img/arrow-right.svg" />
                    </li>
                <% } %>
            </ul>
        </div>
    </div>

<%- include ('layouts/user-schedule-footer.ejs'); %>