<%- include('layouts/user-header.ejs'); %>
        <div class="workout-header strength-background dark-gray-font">
            <h2><%- workoutName %></h2>
            <p>Phase: <%- userPhase %> <img class="workout-header-icon invert" src="/img/calendar-icon.svg" />Day <%- userCurrentDay %></p>
        </div>
        <div id="exercise-container">
            
        </div>
        <div class="phase-workouts">
            <h3 class="phase-header">Full Workout <img src="/img/filter-icon.svg" /></h3>
            <ul>
                <% for (let i = 0; i < exercises.length; i++) { %>
                    <li class="exercise-lower-list"
                        <% if (exercises[i].weight) { %> data-weight="0" <% } %>
                        <% if (exercises[i].reps) { %> data-reps="0" <% } %>
                        <% if (exercises[i].time) { %> data-time="0" <% } %>
                        >
                        <p class="exercise-number"><%= (i + 1) %></p>
                        <div>
                            <p class="exercise-muscle-group"><%= exercises[i].muscleGroup %></p>
                            <h3><%= exercises[i].exercise %></h3>
                        </div>
                        <img src="/img/incomplete-check-icon.svg" />
                    </li>
                <% } %>
            </ul>
    </div>
    </div>
<script src="/js/repsWeightCounter.js"></script>
<script src="/js/cycleWorkout.js"></script>
<%- include ('layouts/general-footer.ejs'); %>